<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconqlhs"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconqlhs"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyHocSinhMoblie">
        <activity
            android:name=".ui.zMainForm.MainForm"
            android:exported="true"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tien.DiemActivity"
            android:exported="true"
            android:label="Quản lý điểm số"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.tien.LichThiActivity"
            android:exported="true"
            android:label="Quản lý lịch thi"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.tien.HanhKiemActivity"
            android:exported="true"
            android:label="Quản lý hạnh kiểm"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>

    </application>

</manifest>