<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iconqlhs"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconqlhs"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyHocSinhMoblie">
        <activity
            android:name=".utils.LoginActivity"
            android:exported="true"
            android:label="Đăng nhập"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.zMainForm.MainForm"
            android:exported="true"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">


        </activity>
        <activity
            android:name=".ui.tien.DiemActivity"
            android:exported="true"
            android:label="Quản lý điểm số"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.tien.LichThiActivity"
            android:exported="true"
            android:label="Quản lý lịch thi"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.tien.HanhKiemActivity"
            android:exported="true"
            android:label="Quản lý hạnh kiểm"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.letrang.TKBActivity"
            android:exported="true"
            android:label="Quản lý thời khóa biểu"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.letrang.MonHocActivity"
            android:exported="true"
            android:label="Quản lý môn học"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.letrang.PhongHocActivity"
            android:exported="true"
            android:label="Quản lý phòng học"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.dai.HocSinhActivity"
            android:exported="true"
            android:label="Hồ sơ học sinh"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.dai.DoiTuongActivity"
            android:exported="true"
            android:label="Đối tượng và chính sách"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.dai.TaiKhoanActivity"
            android:exported="true"
            android:label="Tài khoản"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.hatrang.HocPhiActivity"
            android:exported="true"
            android:label="Quản lý học phí"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.hatrang.ThongBaoActivity"
            android:exported="true"
            android:label="Quản lý thông báo"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
        <activity
            android:name=".ui.hatrang.PhucKhaoActivity"
            android:exported="true"
            android:label="Quản lý phúc khảo"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>

        <activity
            android:name=".ui.dat.GiaoVienActivity"
            android:exported="true"
            android:label="Quản lý Giáo Viên"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>

        <activity
            android:name=".ui.dat.ToBoMonActivity"
            android:exported="true"
            android:label="Quản lý Tổ Bộ Môn"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>

        <activity
            android:name=".ui.dat.LopActivity"
            android:exported="true"
            android:label="Quản lý Lớp"
            android:theme="@style/Theme.QuanLyHocSinhMoblie">
        </activity>
    </application>

</manifest>